@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1B1A17;
  min-width: 1366px;
  background: #202124;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 44px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #414144;
}

.navbarImg {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

.navbarTitle1 {
  color: #A1A1AA;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 31px;
}

.navbarTitle1:last-of-type {
  margin-left: 28px;
}

.container {
  display: flex;
}

.sideBar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #414144;
}

.SideBarHeader {
  height: 44px;
  width: 234px;
  display: flex;
  align-items: center;
  gap: 62px;
  padding: 8px 7px 8px 20px;
  border-bottom: 1px solid #414144;
}

.SideBarHeaderColumn1 {
  display: flex;
  flex-direction: column;
}

.SideBarHeaderTitle1 {
  color: #A1A1AA;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.SideBarHeaderTitle2 {
  color: #A1A1AA;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sideBarRow {
  display: flex;
  width: 234px;
  height: 32px;
  padding: 5px 20px 5px 20px;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
}

.sideBarImg {
  width: 22px;
  height: 22px;
}

.sideBarImg1 {
  width: 24px;
  height: 24px;
}

.sideBarTitle {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tableWrapper {
  width: 100%;
}

.tableHeader {
  height: 44px;
  border-bottom: 1px solid #414144;
}

.tableHeaderTitle {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #414144;
  height: 44px;
}

table {
  border-collapse: collapse;
}

.tableHead {
  width: calc(100vw - 234px - 19px);
  height: 42px;
  display: flex;
  align-items: center;
  margin: 0px 9px 0px 10px;
  padding: 11px 0px 13px 0px;
  color: #A1A1AA;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: 0.1px;
  border-bottom: 1px solid #414144;
}

.levelColumn {
  width: 6.5437239738%;
  padding-left: 12px;
  text-align: left;
  cursor: pointer;
}

.rowNameColumn {
  width: 45.0327186199%;
  padding-left: 12px;
  text-align: left;
}

th:nth-child(3), td:nth-child(3) {
  width: 11.8976799524%;
  padding-left: 12px;
  text-align: left;
}

th:nth-child(4), td:nth-child(4) {
  width: 11.8976799524%;
  padding-left: 12px;
  text-align: left;
}

th:nth-child(5), td:nth-child(5) {
  width: 11.8976799524%;
  padding-left: 12px;
  text-align: left;
}

th:nth-child(6), td:nth-child(6) {
  width: 11.8976799524%;
  padding-left: 12px;
  text-align: left;
}

.tableBodyRow {
  width: calc(100vw - 234px - 19px);
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0px 9px 0px 10px;
  padding: 11px 0px 13px 0px;
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: 0.1px;
  border-bottom: 1px solid #414144;
}

.updFormRow {
  width: 92.6234384295%;
  gap: 24px;
}

.tableImg {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.tableImg1 {
  margin-left: 6px;
  height: 16px;
  width: 16x;
  cursor: pointer;
}

.rowNameInput, .salaryInput, .equipmentCostsInput, .overheadsInput, .estimatedProfitInput {
  padding: 10px;
  margin-left: 12px;
  margin-right: 12px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #414144;
  background: rgba(0, 0, 0, 0);
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: 0.1px;
}

.rowNameInput {
  width: 46.3414634146%;
  margin-left: 11px;
}

.salaryInput, .equipmentCostsInput, .overheadsInput, .estimatedProfitInput {
  width: 11.0648423557%;
}